.nav-item{
  font-size: 20px;
  padding: 0px 8px;
}
.nav-link{
  color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #FFBD07;
}
.footerrr{
  padding-top: 30px;
  color: white;
}

body{
  overflow-x: hidden;
  max-width: 100vw;

}

*{
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: #192F59; margin: 0; padding: 0;
}

@media screen and (max-width:720px) {
  .navbar{
    background-color: #192F59;
  }
}