.nav-item{
  font-size: 20px;
  padding: 0px 8px;
}
.nav-link{
  color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #FFBD07;
}
.footerrr{
  padding-top: 30px;
  color: white;
}